.slider
{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
	height: 70px;
	z-index: 100;
}
.range
{
	position: relative;
	width: 400px;
	height: 1px;
	background: #111;
	-webkit-appearance: none;
	outline: none;
	z-index: 100;
}
.range::-webkit-slider-thumb
{
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #00bcd4;
}
